<form [formGroup]="designsForm" enctype="multipart/form-data">
  <mat-dialog-content class="mat-typography dialog-container">

  <mat-form-field class="field">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput name="Nombre" formControlName="name">
  </mat-form-field><br/>

  <mat-form-field class="field">
    <mat-label>Descripción</mat-label>
    <input type="text" matInput name="Descripción" formControlName="description">
  </mat-form-field><br/>

  <input  #imageInput
          type="file"
          accept="image/*"
          (change)="processFile($event)"
          style="display: none;">

  <div class="file-upload">
      <button mat-mini-fab color="accent" style="margin-right: 5px;"
        (click)="imageInput.click()">
          <mat-icon>attach_file</mat-icon>
      </button>
      {{extendedImageName || "No hay imagen todavia."}}
  </div><br/>

  <mat-form-field class="field">
    <mat-chip-list #keywordsList>
      <mat-chip
        *ngFor="let keyword of keywords"
        [selectable]="true"
        [removable]="true"
        (removed)="removeChipKeyword(keyword)">
        {{keyword.key_word_name}}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Palabras clave"
        #keywordsInput
        [formControl]="keywordCtrl"
        [matAutocomplete]="autoKeyword"
        [matChipInputFor]="keywordsList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addChipKeyword($event)">
    </mat-chip-list>
    <mat-autocomplete #autoKeyword="matAutocomplete">
      <mat-option *ngFor="let keyword of filteredKeywords | async" [value]="keyword" (click)="selectedKeyword(keyword)">
        {{keyword}}
      </mat-option>
    </mat-autocomplete>    
  </mat-form-field><br/>

  <mat-form-field class="field">
    <mat-chip-list #seasonsList>
      <mat-chip
        *ngFor="let season of seasons"
        [selectable]="true"
        [removable]="true"
        (removed)="removeChipSeason(season)">
        {{season.season_name}}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Temporadas"
        #seasonsInput
        [formControl]="seasonCtrl"
        [matAutocomplete]="autoSeason"
        [matChipInputFor]="seasonsList"
        (matChipInputTokenEnd)="addChipSeason($event)">
    </mat-chip-list>
    <mat-autocomplete #autoSeason="matAutocomplete">
      <mat-option *ngFor="let season of filteredSeasons | async" [value]="season" (click)="selectedSeason(season)">
        {{season.name}}
      </mat-option>
    </mat-autocomplete>              
  </mat-form-field><br/>


  <mat-label>Estado</mat-label><br/>
  <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" mat-dialog-close>Cancel</button>
    <button mat-button color="accent" (click)="create()">Guardar</button>
  </mat-dialog-actions>
  
</form>