
.add {
  position: fixed !important;  
  bottom: 50px !important;
  right: 50px !important;
}

.general-container {
  margin: 20px;
}

.master-container {
  padding: 16px;
  display:inline-table;
  display: flex;
  margin: 0px;
}

.table-container {
  width: 100%;
  margin: 0px;
}

.grid-container {
  margin: 20px;
}

.theme-card {
  border-radius: 30px;;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  right: 30px;
  top: 25px;
}

.theme-card-content {
  text-align: center;
}

.top-bar{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
}
