<div class="grid-container">
  <h1 class="mat-h1">Temas</h1>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile *ngFor="let theme of tableData" [colspan]="1" [rowspan]="1">
      <mat-card class="theme-card" [ngClass]="'light-' + theme.theme_class">
        <div class="top-bar bg-primary-color">
        <mat-card-header style="padding: 30px; margin: 0; align-items: center;">
          <mat-card-title style="margin: 0;">
            {{theme.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onEdit(theme)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="onDelete(theme)">
                <mat-icon>delete_forever</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
      </div>
        <mat-card-content class="theme-card-content">
          <!-- <div>Card Content Here</div> -->
          <button mat-mini-fab color="accent" class="btn-new mat-elevation-z2" style="position: absolute; bottom: 20px; right: 20px;">
            <mat-icon >add</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<button mat-fab color="accent" class="btn-new mat-elevation-z2 add" (click)="onAdd()">
  <mat-icon >add</mat-icon>
</button>




<!-- <div class="general-container">
  <h1 class="mat-h1">Temas</h1>

  <div class="master-container">

    <app-dynamic-table class="table-container"
    [data]=tableData
    [headers]=tableHeaders
    (emitAdd)="onAdd()"
    (emitEdit)="onEdit($event)"
    (emitDelete)="onDelete($event)">  
  </app-dynamic-table>
    
  </div>
</div> -->