
.add {
  position: fixed !important;  
  bottom: 50px !important;
  right: 50px !important;
}

.table-container {
  width: 100%;
  margin: 0px;
}

.theme-card {
  border-radius: 30px;;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-height: 200px;
  min-width: 150px;
}

.more-button {
  margin-right: 10px;
}

.theme-card-content {
  text-align: center;
}

.top-bar{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
}

.theme-card-header {
  padding: 20px 10px;
  margin: 0;
  align-items: center;
}