
.field {
  width: 100%;
  margin-bottom: 10px;
}

.dialog-content-container {
  padding: 30px;
}

.slide-toggle {
  height: 40px;
}

.form-image-preview {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}