@use '/src/assets/scss/variables';


.profile-container {
	width: auto;
	// background: url('/assets/images/doodle.jpg');
}

.item {
	height: 70px !important;
	position: relative;
}

.icons-menu {
  vertical-align: top;
	width: variables.$width-icons-menu;
}

.extended-menu {
	padding: 20px;
  width: 230px;
  vertical-align: top;
}

::ng-deep .mat-list-item-content {
	flex-direction: column !important;
	align-items: center;
	justify-content: center;
}

.menu-container{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.nav-list-container {
	padding: 0;
	height: calc(100% - #{variables.$height-profile-container});
}

.option-button {
	text-align: left;
	width: 100%;
	margin-bottom: 20px;
}

.left-line-selected {
	position: absolute;
	left: 0;
	height: 100%;
	width: 6px;
}

.tecno-icon{
	position: fixed;
	bottom: 15px;
	width: calc(#{variables.$width-icons-menu} - 30px);
	margin: 0 15px;
	filter: grayscale(1);
	opacity: 0.15;
}

.tecno-icon:hover{
	filter: none;
	opacity: 1;
}