<div class="general-container">
  
    <mat-card class="cards-container logo-container mat-elevation-z5">
      <img src="assets/images/logo_dark.png" alt="logo" class="logo">
    </mat-card>
  
    <mat-card class="cards-container mat-elevation-z5">
      <form #signInForm="ngForm" (ngSubmit)="login()">
  
        <mat-form-field appearance="outline" class="field">
          <mat-label >Usuario</mat-label>
          <mat-icon class="icon" matPrefix>email</mat-icon>
          <input type="email" matInput [(ngModel)]="signInData.login" name="email">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="field">
          <mat-label>Contraseña</mat-label>
          <mat-icon class="icon" matPrefix>lock_open</mat-icon>
          <input type="password" matInput [(ngModel)]="signInData.password" name="password">
        </mat-form-field>
          
        <mat-checkbox class="check" name="checkRemember" >Recuérdame</mat-checkbox>
  
        <!--button mat-button class="btn-grad">Iniciar sesión</button-->
        <button mat-stroked-button class="btn-grad" color="primary">Iniciar sesión</button>
  
        <div class="link">
          <a color="primary" class="link-text" href="/reset">¿Olvidaste tu contraseña?</a><br>
        </div>
  
      </form>
    </mat-card>
  </div>