
.general-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.cards-container {
   height: 75%;
   width: 45vh;
   border-radius: 30px;
   min-width: 250px;
}

.logo {
   display: flex;
   justify-content: center;
   margin: 12% auto;
   width: 80%;
}
 
.field {
   margin: 0 5% 5%;
   width: 90%;
}

.check {
   margin: 0 5%;
}
 
.btn {
   margin: 15% 5%;
   width: 90%;
   height: 6vh;
   min-height: 45px;
   text-align: center;
   justify-content: center;     
   border-radius: 30px;
}

.link {
   position: absolute;
   text-align: center;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 200px;
}

.link-text {
   text-decoration: none;
   color: rgb(165, 165, 165);
}