<div class="general-container">
  <mat-card class="cards-container mat-elevation-z7" style="min-width: 300px;min-height: 500px;">
    <mat-card-title>
      <img src="assets/images/logo_dark.png" alt="logo" class="logo">
    </mat-card-title>
    <mat-card-content>
      <form #signInForm="ngForm">

        <mat-form-field class="field">
          <mat-label>Usuario</mat-label>
          <input type="email"  matInput [(ngModel)]="signInData.login" name="email">
        </mat-form-field>

        <mat-form-field class="field">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput [(ngModel)]="signInData.password" name="password">
        </mat-form-field>
          
        <mat-checkbox class="check mat-primary" name="checkRemember" >Recuérdame</mat-checkbox>

        <button mat-stroked-button color="primary" class="btn mat-elevation-z2" (click)=onLogin()>Iniciar sesión</button>

        <div class="link">
          <a class="link-text" href="/reset">¿Olvidaste tu contraseña?</a><br>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>