<form [formGroup]="keywordsForm">
  <mat-dialog-content class="mat-typography dialog-container">

  <mat-form-field class="field">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput name="Nombre" formControlName="name" required>
    <mat-error *ngIf="this.keywordsForm.get('name')?.invalid">
      Campo requerido
    </mat-error>
  </mat-form-field><br/>

  <mat-label>Estado</mat-label><br/>
  <mat-slide-toggle  formControlName="is_active"></mat-slide-toggle>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" mat-dialog-close>Cancel</button>
    <button mat-button color="accent"[disabled]="this.keywordsForm.invalid" (click)="create()">Guardar</button>
  </mat-dialog-actions>
  
</form>