<mat-toolbar color="primary" class="mat-elevation-z4">
  <h1 class="mat-headline">Tema</h1>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="themeForm" class="dialog-content-container">
  <mat-dialog-content class="mat-typography dialog-container">

  <mat-form-field class="field">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput name="Nombre" formControlName="name">
  </mat-form-field><br/>

  <mat-form-field class="field">
    <mat-label>Clase</mat-label>
    <input type="text" matInput name="Clase" formControlName="theme_class">
  </mat-form-field><br/>

</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="accent" mat-dialog-close>Cancel</button>
    <button mat-button color="accent" (click)="create()">Guardar</button>
  </mat-dialog-actions>
  
</form>