<div>
  <mat-toolbar color="primary" class="toolbar">

    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <img routerLink="/dashboard" src="assets/images/logo1.png" alt="logo" class="logo">
    <!-- <img routerLink="/dashboard" src="assets/images/text.png" alt="logo" class="logo" style="margin-left: -5px;"> -->
    <h1 class="logo-text">Tex-one</h1>

    <span class="spacer"></span>

    <mat-icon class="icon" routerLink="/dashboard">home</mat-icon>
    <mat-icon class="icon" (click)="toggleTheme()">brightness_medium</mat-icon>
    <mat-icon class="icon" (click)="logout()">logout</mat-icon>

  </mat-toolbar>

  <mat-drawer-container class="sidenav-container" autosize>

    <mat-drawer #drawer opened mode="side">
      <app-menu-a></app-menu-a>
    </mat-drawer>

    <div class="main-container">
        <!-- <app-banner></app-banner> -->
        <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</div>

