<div class="home-container">
  <mat-toolbar color="primary" class="toolbar mat-elevation-z5">

    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>

    <img routerLink="/home" src="assets/images/logo1.png" alt="logo" class="logo">

    <div routerLink="/home" class="logo-text">
      Tex
      <div style="font-family: Roboto; margin: 0 3px;">-</div>
      one
    </div>

    <span class="spacer"></span>

    <!-- <mat-icon class="icon" routerLink="/home">home</mat-icon> -->
    <mat-icon class="icon" (click)="setTheme()">brightness_medium</mat-icon>
    <mat-icon class="icon" (click)="logout()">logout</mat-icon>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" autosize>

    <mat-sidenav #drawer opened mode="side">
      <!-- <app-menu-a></app-menu-a> -->
      <app-menu-b></app-menu-b>
    </mat-sidenav>

    <div class="main-container">
        <app-banner></app-banner>
        <div class="bg-menu-options loading-container center" *ngIf="loading">
          <mat-spinner color="accent"></mat-spinner>
        </div>
        <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>

</div>

