@use '/src/assets/scss/variables';

.toolbar {
  position: fixed;
  z-index: 2;
  height: variables.$toolbar-height;
}

.logo {
  min-height: 20px;
  margin-left: 20px;
  cursor: pointer;
  height: 1.5vw;
}

.logo-text {
  display: flex;
  font-family: tex-one;
  font-size: calc(15px + 1vw);
  cursor: pointer;
  margin: 0;
}
  
.sidenav-container {
  top: variables.$toolbar-height;
  height: calc(100vh - 65px);
  overflow: auto;
  flex: 1;
}

.icon {
  margin: 0 10px;
  cursor: pointer;
}

.main-container {
  display: block;  
}