<tecno-unauthorized *ngIf="authorizedActions.status == 401"></tecno-unauthorized>

<div class="animate__animated animate__fadeIn general-container" *ngIf="authorizedActions.status == undefined">

    <app-dynamic-table class="table-container"
      [categories]="allCategories"
      [keywords]="allKeywords"
      [data]="tableData"
      [headers]="tableHeaders"
      [filter]="true"

      [actionIndex]="true"
      [actionIndexNotEliminated]="true"
      [actionShow]="authorizedActions?.action_create"
      [actionCreate]="authorizedActions?.action_create"
      [actionUpdate]="authorizedActions?.action_update"
      [actionDestroy]="authorizedActions?.action_destroy"
      [actionLogicalDelete]="authorizedActions?.action_logical_delete"

      (image)="setImage($event)"
      (emitAdd)="onAdd()"
      (emitEdit)="onEdit($event)"
      (emitDelete)="onDelete($event)"
      (emitStatusChange)="onStatusChange($event)">  
    </app-dynamic-table>

    <div class="image-container">
      <img class="image" *ngIf="path != ''" [src]="path" />
    </div>
    
</div>