<div class="general-container">
  <div class="master-container">

    <app-dynamic-table class="table-container"
      [seasons]="allSeasons"
      [keywords]="allKeywords"
      [data]="tableData"
      [headers]="tableHeaders"
      [filter]="true"
      (image)="setImage($event)"
      (emitAdd)="onAdd()"
      (emitEdit)="onEdit($event)"
      (emitDelete)="onDelete($event)"
      (emitStatusChange)="onStatusChange($event)">  
    </app-dynamic-table>

    <div class="image-container">
      <img class="image" *ngIf="path != ''" [src]="path" />
    </div>
    
  </div>
</div>