
<form class="change-password-form">

  <mat-form-field class="field" appearance="fill">
    <mat-label>Contraseña actual</mat-label>
    <input type="text" matInput [formControl]="currentPasswordControl">
    <mat-error *ngIf="passwordControl.hasError('required')">
      La contraseña actual es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>Nueva contraseña</mat-label>
    <input type="text" matInput [formControl]="passwordControl">

    <mat-error *ngIf="passwordControl.hasError('required')">
      La nueva contraseña es <strong>requerida</strong>
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('minlength')">
      La contraseña debe contener minimo <strong>8 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('pattern')">
      La contraseña debe contener minimo una <strong>mayuscula, minuscula, numero y caracter especial</strong>
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="field" appearance="fill">
    <mat-label>Confirmar contraseña</mat-label>
    <input type="text" matInput [formControl]="confirmPasswordControl">
    <mat-error *ngIf="confirmPasswordControl.hasError('required')">
      La confirmación es <strong>requerida</strong>
    </mat-error>
    <mat-hint class="mat-error" *ngIf="confirmPasswordControl.value != passwordControl.value">
      La nueva contraseña <strong>no coincide</strong>
    </mat-hint>
  </mat-form-field>

  <button mat-raised-button type="button" color="accent" class="btn center mat-elevation-z2" [disabled]="!currentPasswordControl.valid || !confirmPasswordControl.valid || !passwordControl.valid || (confirmPasswordControl.value != passwordControl.value)"  (click)="onChangePassword()">Cambiar contraseña</button>
</form>