@use '/src/assets/scss/variables';

.banner-container{
  height: variables.$height-profile-container;
  padding: 0;
  border-radius: 0;
}

.back-button {
  padding: 0;
}

.banner-card-content{  
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 50px;
}

.banner-title{
  color: white;
  margin: 15px 0;
  font-size: 100px;
  font-weight: 500;
}