<div style="height: 100%;" [class.dark-theme-cyan-orange]="theme" [class.light-theme-cyan-orange]="!theme">
    <!-- LOGIN -->
    <!-- <app-login *ngIf="!(isAuthenticated$ | async)"></app-login> -->
    <router-outlet *ngIf="!(isAuthenticated$ | async)"></router-outlet>
    <!-- HOME -->
    <app-home *ngIf="isAuthenticated$ | async" (theme)="toggleTheme($event)" ></app-home>
</div>
<mat-chip-list>
    <mat-chip style="background-color: red; color: white; width: 200px; font-weight: bold; position: absolute; bottom: 0px; left: calc(50% - 100px); z-index: 100;">En pruebas :)</mat-chip>
</mat-chip-list> 