@use '/src/assets/scss/variables';

.toolbar {
  position: fixed;
  z-index: 2;
  height: variables.$toolbar-height;
}

.sidenav {
  width: 70px;
}
  
.sidenav-container {
  top: variables.$toolbar-height;
  // height: 100%;
  flex: 1;
}

.develop-tag {
  background-color: red;
  padding: 2px 20px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  left: calc(50%);
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 15px;
}