@use '/src/assets/scss/variables';

.container {
  height: 100%;
}

.toolbar {
  position: fixed;
  z-index: 2;
  height: variables.$toolbar-height;
}

.logo {
  height: variables.$toolbar-height;
}


.sidenav {
  width: 70px;
}
  
.sidenav-container {
  top: variables.$toolbar-height;
  height: 100vh;
  flex: 1;
}

::ng-deep * {
      
  margin: 0;
  padding: 0;
}