<!-- <div class="pages-container">

  <div>
    <button mat-button (click)="addButton = !addButton">
      <mat-icon>add</mat-icon>
    </button>
    <tecno-pages-form
      [addMode]="true"
      *ngIf="addPage"
      (emitAddPage)="onAddPage($event)"
      (emitEditPage)="onEditPage($event)"
      (emitDeletePage)="onDeletePage($event)">
    </tecno-pages-form>
  </div>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let page of menuPages" (click)="setPage(page)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ page.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ page.moduleName }}
          <mat-icon>{{ page.icon || "link_off" }}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      
      <div class="row pt-20">
        <div class="col col-12">
          <mat-card-content>
            <tecno-pages-form
              [page]="menuPage"
              (emitAddPage)="onAddPage($event)"
              (emitEditPage)="onEditPage($event)"
              (emitDeletePage)="onDeletePage($event)">
            </tecno-pages-form>
          </mat-card-content>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div> -->